


:root{
    --prim:#15172B;
    --prim2:#c22d00;
}
*{
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
}

 
body{
    padding:0px !important;
    overflow-x: hidden;
}




.carousel-caption h1 {

    color: var(--prim2);
    text-transform: capitalize;

}
.nav-customize{
   display: flex;
   justify-content: space-between;
   flex-basis: 50%;
   width: 100%;
   background-color: #fff;
    box-shadow: 28px 23px 75px -2px rgba(11,9,9,0.75);
    -webkit-box-shadow: 28px 23px 75px -2px rgba(11,9,9,0.75);
    -moz-box-shadow: 28px 23px 75px -2px rgba(11,9,9,0.75);
}



@media(min-width:999px){
    
.nav-customize  a.navbar-brand {
    padding-left: 100px!important;
  
}

.nav-customize .nav-right{
    padding-right: 70px !important;
  }
}

.nav-customize  a.navbar-brand {
    font-size: 23px;
}

.nav-customize .nav-right .nav-link{
   padding: 15px !important;
}


.nav-customize a.navbar-brand {
    color:var(--prim2);
    font-weight:bolder !important;
}
.nav-customize .nav-right .nav-item a {
    color:var(--prim2);
}


.btn-primary{
    background-color: var(--prim2) !important;
    color: #fff !important;
    border:none !important;
    border-radius:0px !important;
    font-weight: bolder !important;
}

.btn-secondary{
    background-color: var(--prim) !important;
    color: #fff !important;
    border:none !important;
    border-radius:0px !important;
}

.btn-whatsapp{
    background-color:#4dc247 !important;
    color: #fff !important;
    border:none !important;
    border-radius:0px !important;
}

/* feature services  */


.service-features{
    /* padding: 10px; */
}
.service-features .header{
    justify-content: center;
    font-size: 36px;
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
    position: relative;
    line-height: 45px;
}

.box-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
}

.service-features .header::after{
    background: var(--prim2);
    clear: both;
    content: "";
    display: block;
    margin-bottom: 0px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    width: 80px;
}

.box{
  box-shadow:   0px 5px 0 0px rgb(222 222 248 / 50%), 0 5px 25px 0 rgb(222 222 248 / 90%);
  padding: 15px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.box img{
    width: 120px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.box h2 {
    justify-content: center;
    text-align: center;
    margin-top: 5px;
    font-size: 23px;
    font-weight: 600;
    padding: 12px;
    color: var(--prim);
}


.box a {

   text-align: center;
   text-transform: capitalize;
   font-weight: bold;
   margin-top: 15px;
   margin-bottom: 20px;
    width: 120px;
}


.service-features .about-mini{
    background-color: var(--prim);
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.service-features .about-mini .rowside{
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: flex-start;
    flex-basis: 100%;
    height: 100%;
}

.sides{
   flex-basis: 50%;

}





@media(max-width:999px){
    .service-features .about-mini .rowside .content{
        flex-basis: 100% !important;
        width: 100%;
        margin-bottom: 40px;
    }
}

@media(min-width:999px){
    .service-features .about-mini .rowside .content{
       margin-left: 40px;
    }
}
.service-features .about-mini .rowside .content{
    padding-top:50px;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    color: #fff;
    flex-basis: 40%;
}
.service-features .about-mini .rowside .content  h2{
    padding-top: 30px;
    padding-bottom: 30px;
}


.service-features .about-mini .rowside .content p{
   margin-bottom:35px;
   margin-top: 20px;
   text-align: center;
}
.service-features .about-mini .rowside .img-content{
  flex-basis: 20%;
}

.service-features .about-mini .rowside .img-content img{
  width: 700px;
}


/* contact us */

.contact-us{
    margin-top: 50px;
   background-color: var(--prim2);
   background-image: url('/frontend/image/contact-1.png');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 420px;
}

.overlay{
    background-color: var(--prim);
    position: absolute;
    top: 0;
    bottom: 0px;
    right: 0px;
    left: 0px;
    padding: 30px;
    opacity: 0.3;
}

.contact-content {
 padding: 20px;
}


.contact-content h2{
    font-size: 45px;
    text-transform: capitalize;
    color: #fff;
}
.contact-content p{
    color: #fff;
    padding: 10px;
    text-align: center;
}

.contact-content .buttons {
   justify-content: center;
   text-align: center;
   padding: 20px;
}
.buttons a {
    padding: 10px;
    width: 130px;
    font-weight: bolder;
}

.buttons a:last-child{
    margin-left:20px;
}


@media (max-width:999px) {
    .contact-content h2{
        font-size: 30px;
        text-align: center;
    }
}

/* footer */

.footer{
  margin-top: 90px;  
  background-color: var(--prim);
  position: relative;
  height: 100%;
  margin-bottom: 0xp !important;
  padding-bottom: 0px !important;
}

.footer-about{
   padding:15px;
}

.footer h2{
    font-size: 23px;
    font-weight: bolder;
  text-transform: capitalize;
  color: var(--prim2);
  padding-top: 30px;
  padding-bottom: 30px;

}

.footer p {
    color: #fff;
    font-family:"Popins" sans-serif;
}

.footer-contact ul{
 list-style: none;
}
.footer-contact ul li {
    display: inline-block;
    padding: 5px;
    color: #fff;
}
.footer-map{
    padding-top: 10px;
}


.store-banner{
    background-image: url('/frontend/image/banner-1.jpeg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 90px;
    width: 100%;
    height: 450px;
    margin: 0px;
    text-align: center;
}

.store-banner h2{
    padding-top: 50px;
    margin-top: 80px;
    color: var(--prim2);
    font-size: 40px;
}

.main{
    margin-top: 60px;
}

.main .left{
    padding-left: 15px;
    border-right: 2px solid #f4f4f4;
    padding-right: 10px;
    justify-content: center;
    align-items: center;
}

.main .left h2{
    text-align: center;
    text-transform: capitalize;
    color: var(--prim2);
    padding-bottom: 10px;
    border-bottom: 2px solid #f4f4f4;
    margin-bottom: 20px;
}



.main .left ul {
    text-align: center;
    list-style: none;
    margin-top: 50px;
    margin-left: 10px;
}

.main .left ul li {
    padding: 15px;
    background-color: var(--prim2);
    margin-bottom: 10px;
    color: #fff;
    cursor: pointer;

}

.main .right {
    padding-left: 30px;
}

.main .right header{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    margin-bottom: 40px;
    border-bottom: 2px solid #f4f4f4;
    padding: 10px;
}

.main .right header input{
    width: 100%;
    border: none;
}

.main .right header input:focus{
    outline: none;
}

.main .right header img {
    cursor: pointer;
}

.main .right .item-list .items {
    box-shadow:   0px 5px 0 0px rgb(222 222 248 / 50%), 0 5px 25px 0 rgb(222 222 248 / 90%);
    padding: 15px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


